@import "../../variables.scss";
.MainHeader
{
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
}

.mainSpans:hover{
    color: purple;
}

.mainSpans {
    color: white;
    margin-right: 23px;
    cursor: pointer;
}

.spans-wrapper {
    display: flex;
    margin-left: 5vw;
}

button {
    margin-right: 12px
}

.btn-warning:hover {
    background-color: rgb(133, 25, 133);
}

.btn-warning {
    background-color: purple;
    border: purple;
    color: white;
}

.buttons {
    display: flex;
}

.customSymbol {
    height: 60px;
}

.footer-wrapper {
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: center;
}

.rightText {
    color: white;
}

body {
    overflow-x: hidden;
}

/*.MainHeader * {
    border: 1px solid red;
}

.buttons * {
    border: 1px solid blue;
}*/

@media screen and (max-width: 720px) {
    .MainHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .buttons {
        margin-top: auto;
        display: flex;
        position: relative;
        bottom: 4px;
    }
}