<div class="MainHeader container-fluid">
    <header>
        <div class="imgIcon">
            <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*cPh7ujRIfcHAy4kW2ADGOw.png" class="customSymbol">
        </div>
        <div class="spans-wrapper">
            <span class="mainSpans">Cursos</span>
            <span class="mainSpans">Comunidade</span>
            <span class="mainSpans">Projetos</span>
        </div>
    </header>
    <div class="buttons">
        <button class="btn btn-outline-light" (click)="openLoginModal()"><b>Entrar</b></button>
        <button class="btn btn-warning" (click)="openRegisterModal()"><b>Criar Conta</b></button>
    </div>
</div>

<main>
    <app-home></app-home>
</main>

<footer>
    <div class="footer-wrapper">
        <span class="rightText">Todos direitos reservados.</span>
    </div>
</footer>