<div class="MainHeader">
    <header>
        <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*cPh7ujRIfcHAy4kW2ADGOw.png" class="customSymbol">
        <span class="mainSpans">Cursos</span>
        <span class="mainSpans">Comunidade</span>
        <span class="mainSpans">Projetos</span>
        <button class="btn btn-outline-light"><b>Entrar</b></button>
        <button class="btn btn-warning"><b>Criar Conta</b></button>
    </header>
</div>

<main>
    <app-home></app-home>
</main>

<footer>
    <div class="footer-wrapper">
        <span class="rightText">Todos direitos reservados.</span>
    </div>
</footer>