<div class="panelMain">
    <div class="imageWrapper">
        <img src="https://pilbox.themuse.com/image.jpg?filter=antialias&h=385&opt=1&pos=top-left&prog=1&q=keep&url=https%3A%2F%2Fcms-assets.themuse.com%2Fmedia%2Flead%2F01212022-1047259374-coding-classes_scanrail.jpg&w=700" class="customImage">
    </div>
    <div class="panel-wrapper">
        <h1 class="mainText"><b>Comece o seu futuro na programação agora!</b></h1>
        <p>Aprenda as melhores tecnologias utilizadas pelas empresas mais inovadoras do mundo e encare seu proprio desafio, evoluindo e melhorando o seu proprio conhecimento.</p>
        <button class="btn btn-warning"><b>Começar Agora</b></button>
    </div>
</div>

<!-- <div class="carreiraPanel">
    <div class="textPanel">
        <h1><b>Explore As Seguintes </b>
            <span class="purpleWord"><b>Carreiras</b></span>
        </h1>
        <p>Liberte o seu potencial de aprendizado e conquiste a atenção do mercado de trabalho, visando a utilizar as tecnologias mais recentes.</p>
    </div>
    <div class="cardTecnologias">
        <carousel [singleSlideOffset]="false"
                [interval]="0"
                [indicatorsByChunk]="true"
                [isAnimated]="true"
                [showIndicators]="false">
                <div class="card-Wrapper">
                    <slide #carouselTest *ngFor="let profissional of profissionais; let index=index">
                        <div class="cardPanel">
                            <a>{{profissional.nome}}</a>
                            <a *ngFor="let curso of profissional.cursos">• {{curso}}</a>
                        </div>
                    </slide>
                </div>
        </carousel>
    </div>
</div> -->

<div class="carreiraPanel">
    <div class="textPanel">
        <h1><b>Explore As Seguintes </b>
            <span class="purpleWord"><b>Carreiras</b></span>
        </h1>
        <p>Liberte o seu potencial de aprendizado e conquiste a atenção do mercado de trabalho, visando a utilizar as tecnologias mais recentes.</p>
    </div>
    <div *ngIf="isMobile" class="cardTecnologias">
        <carousel [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="false"
                [interval]="0"
                [indicatorsByChunk]="true"
                [isAnimated]="true"
                [showIndicators]="false">
                <div class="card-Wrapper">
                    <slide #carouselTest *ngFor="let profissional of profissionais; let index=index">
                        <div class="cardPanel">
                            <a>{{profissional.nome}}</a>
                            <a *ngFor="let curso of profissional.cursos">• {{curso}}</a>
                        </div>
                    </slide>
                </div>
        </carousel>
    </div>
    <div *ngIf="!isMobile" class="cardTecnologias">
        <carousel [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="false"
                [interval]="0"
                [indicatorsByChunk]="true"
                [isAnimated]="true"
                [showIndicators]="false">
                <div class="card-Wrapper">
                    <slide #carouselTest *ngFor="let profissional of profissionais; let index=index">
                        <div class="cardPanel">
                            <a>{{profissional.nome}}</a>
                            <a *ngFor="let curso of profissional.cursos">• {{curso}}</a>
                        </div>
                    </slide>
                </div>
        </carousel>
    </div>
</div>